/**
 * Style / Global: Base
 * -----------------------------------------------------------------------------
 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-background);
  margin: var(--spacing-m);
  padding: 0;
  word-wrap: break-word;
  margin-top: var(--height-nav-bar);
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  padding-left: var(--spacing-m);
  padding-right: var(--spacing-m);
  position: relative;
}
