html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'VCR OSD Mono';
  font-style: normal;
  font-weight: normal;
  src: local('VCR OSD Mono'), url('../../fonts/VCR_OSD_MONO.woff') format('woff');
}

body {
  min-height: 100vh;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  align-content: center; 
  background-color: #0c0c0c;
  font-size: 16px;
  margin: 0;
  padding: 0;
  word-wrap: break-word;

  @media only screen and (max-width: 768px) {
    font-size: 14px;
  }
}