html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  /* Display & Box Model */
  width: 100vw; 
  height: 100vh;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  align-content: center; 
  overflow: hidden;
  background-color: #0c0c0c; 
}