/**
 * Style / Global: Typography
 * -----------------------------------------------------------------------------
 */
body {
  color: var(--color-white);
  font-family: var(--font-vcr);
  font-size: var(--font-size-base);
}

a {
  color: var(--color-white);
  text-decoration: none;
}
