/**
 * Style / Global: Variables.
 * -----------------------------------------------------------------------------
 * - CSS variables.
 */
@font-face {
  font-family: 'VCR OSD Mono';
  font-style: normal;
  font-weight: normal;
  src: local('VCR OSD Mono'),
    url('~assets/fonts/VCR_OSD_MONO.woff') format('woff');
}

:root {
  /**
   * Fonts.
   */
  --font-vcr: 'VCR OSD Mono', 'Courier New', mono;

  /**
   * Sizes.
   */
  --font-size-extra-small: 12px;
  --font-size-smaller: 14px;
  --font-size-base: 18px;
  --font-size-larger: 20px;

  /**
   * Colours.
   */
  --color-background: #171717;
  --color-white: #fff;
  --color-link: #000;
  --color-light-grey: #718096;
  --color-lighter-grey: #e4eaf1;

  /**
   * Spacing.
   */
  --spacing-xs: 0.5rem;
  --spacing-s: 0.75rem;
  --spacing-m: 1rem;
  --spacing-l: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 4rem;

  /**
   * Layers.
   */
  --layer-sticky: 10;

  /**
   * Dimensions.
   */
  --height-nav-bar: 100px;
}
