/**
 * Component / Style: Nav Bar
 * -----------------------------------------------------------------------------
 */
.nav {
  $parent: &;

  z-index: var(--layer-sticky);
  position: fixed;
  top: 0;
  left: 0;
  padding: var(--spacing-m);
  right: 0;
  display: flex;
  justify-content: space-between;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list--top-left {
    left: 0;
    text-align: left;
    top: 0;
  }

  &__list--top-right {
    top: 0;
    text-align: right;
    right: 0;
  }

  &__list-item {
  }

  &__list-item-link {
    text-transform: uppercase;
    color: var(--color-white);
  }
}
