/*------------------------------------
404 Page
------------------------------------*/

body#four-oh-four{

    main{
        margin: 2.5em 0;
        position: relative;

        img{
            max-width: 100%;
            height: auto;
            margin-bottom: 2.5em;
        }
    }

}