/*-------------
Single Post Template
--------------*/


header#page-title{
    margin: 1.5em auto 2.5em auto;
    max-width: 570px;
    text-align: center;

    h1{
        text-align: center;
        font-size: 2.25em;
    }

    a{
        @include link-underline($primary);
    }

    #meta{
        max-width: 550px;
        margin: auto;

        .date{
            color: $lightgrey;
            font-weight: $bf-bold;
            font-size: 0.85em;
            font-style: $headfont;
        }

        .tags{
            margin: 1.5em auto;
            font-size: 0.8em;
        }

		ul.post-tags{
			list-style: none;
            font-weight: $bf-bold;
            @include flex-align(center, center);
            flex-wrap: wrap;
            max-width: 420px;
            margin: auto;
            padding-left: 0;

			&:before{
				font-family: FontAwesome;
				color: $primary;
                content: '\f02c';
                margin-right: 1.2em;
			}

			li{
                display: inline-block;
                padding: 10px;

				&:before{
					display: none; // override the default squares
					content: none; // just in case...
				}

			}

			li a{
				text-decoration: none;
				padding: 5px;
				margin: 0 5px;
			}
		}
    }
}

section#featured-image{
    margin: 0 auto 1.5em auto;
    max-width: 760px;

    img{
        max-width: 100%;
        height: auto;
    }
}

article#single{
    max-width: 100%;
    position: relative;

    a{
        @include link-underline($primary);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        margin: 1.9em auto 1.25em;
        max-width: 650px;
        position: relative;
    }

    p,
    ul,
    ol,
    dl,
    blockquote,
    iframe,
    ul,
    table,
    audio,
    video{
        max-width: 650px;
        margin: 0 auto 1.5em auto;
        position: relative;
    }

    code[class*=language-],
    pre[class*=language-],
    .cp_embed_wrapper,
    .code-toolbar{
        max-width: 100%;
        font-size: 0.9em;
        margin: 3.5em auto;
        position: relative;
    }

    pre[class*=language-]{
        padding: 20px;
    }

    code:not([class*='language-']){
        padding: 2px 4px;
        border: 0;
        font-family: Menlo,Roboto Mono,Courier New,monospace;
        font-size: 0.8em;
        font-weight: 400;
        color: #222;
        border-radius: 0;
        background: $palegrey;
    }

    figure{
        max-width: 100% !important;
        width: auto !important; // override WordPress
        height: auto;
        margin: 2.45em auto;
        text-align: center;

        > img{
            margin: 0 auto;
            max-width: 100% !important;
            width: auto !important; // override WordPress
            height: auto;
        }

        figcaption.wp-caption-text{
            color: $lightgrey;
            font-size: 0.8em;
            font-weight: $bf-bold;
            text-align: center;
            width: 100%;
        }
    }

    img{
        max-width: 100%;
        height: auto;
    }
}

section#comments{
    width: 750px;
    position: relative;
    margin: 1.5em auto 2.75em auto;

    @media only screen and (max-width: 768px){
        width: 540px;
    }

    @media only screen and (max-width: 550px){
        width: 350px;
    }

}