$bodyFont: 'Inter', sans-serif;

$fontWeightBody: 300;
$fontWeightMid: 600;
$fontWeightHeading: 800;

.blog-post {
  background: white;
  width: 80vw;
  padding: 3vw;
  font-family: $bodyFont;

  @media only screen and (max-width: 768px) {
    width: 95vw;
  }

  &__nav {
    a {
      font-weight: $fontWeightMid;
      line-height: 1.2;
      font-size: remFont(22);
      color: #0d1016;
      text-decoration: none;
    }
    
    a:hover {
      text-decoration: underline;
    }
  }

  &__heading {
    width: 50%;
    margin: 5vh auto;

    @media only screen and (max-width: 768px) {
      width: 85vw;
    }

    h1 {
      font-family: $bodyFont;
      font-size: remFont(36);
      font-weight: $fontWeightHeading;
      line-height: 1.2;
      color: #0d1016;
      margin: 0 0 1vh 0;

      @media only screen and (max-width: 768px) {
        font-size: remFont(24);
      }
    }

    time {
      font-size: remFont(14);
      color: #718096;
    }
  }

  &__article {
    width: 70vw;
    max-width: 580px;
    margin: 0 auto;
    font-family: $bodyFont;
    font-weight: $fontWeightBody;
    line-height: 1.8;
    color: #121212;

    @media only screen and (max-width: 768px) {
      width: 85vw;
    }

    $HEADING_BASE_FONT_SIZE: 18;
    $HEADING_BASE_FONT_SIZE_MOBILE: 14;
    $HEADING_SCALE: 3; // amount of px headings grow from h6 to h1
    
    @for $i from 1 through 6 {
      h#{$i} {
        font-family: $bodyFont;
        line-height: 1.2;
        font-size: remFont($HEADING_BASE_FONT_SIZE + $HEADING_SCALE * (6 - $i));

        @media only screen and (max-width: 768px) {
          font-size: remFont($HEADING_BASE_FONT_SIZE_MOBILE + $HEADING_SCALE * (6 - $i));
        }
      }
    }
  }

  p {
    margin-bottom: remFont(24);
  }

  a {
    color: $COLOR_SCREEN_BACKGROUND;
    position: relative;
    font-weight: $fontWeightMid;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      // text-decoration: none;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  code[class*=language-],
  pre[class*=language-]{
    max-width: 100%;
    font-size: remFont(12);
    margin: 3.5em auto;
    position: relative;
  }

  code:not([class*='language-']){
    padding: 2px 4px;
    border: 0;
    font-family: Menlo, Courier New, monospace;
    font-size: remFont(14);
    font-weight: 400;
    color: #222;
    border-radius: 2px;
    border: 1px solid #e3e3e3;
    background: #f4f4f4;
  }
}