.blog-post {
  background: $COLOR_WHITE;
  width: 80vw;
  padding: 3vw;
  font-family: $FONT_BODY;

  @media only screen and (max-width: 768px) {
    width: 95vw;
  }

  &__nav {
    a {
      font-weight: $WEIGHT_FONT_MID;
      line-height: 1.2;
      font-size: remFont(22);
      color: $COLOR_BLOG_NAV_LINK;
      text-decoration: none;
    }
    
    a:hover {
      text-decoration: underline;
    }
  }

  &__heading {
    width: 50%;
    margin: 5vh auto;

    @media only screen and (max-width: 768px) {
      width: 85vw;
    }

    h1 {
      font-family: $FONT_BODY;
      font-size: remFont(36);
      font-weight: $WEIGHT_FONT_HEADING;
      line-height: 1.2;
      color: $COLOR_BLOG_TITLE_TEXT;
      margin: 0 0 1vh 0;

      @media only screen and (max-width: 768px) {
        font-size: remFont(24);
      }
    }

    time {
      font-size: remFont(14);
      color: $COLOR_BLOG_TIME_TEXT;
    }
  }

  &__featured-image {
    margin: 0 auto 5vh auto;
    max-width: 620px;
    text-align: center;
    width: 75vw;
  }

  &__article {
    width: 70vw;
    max-width: 580px;
    margin: 0 auto 5vh auto;
    font-family: $FONT_BODY;
    font-weight: $WEIGHT_FONT_BODY;
    line-height: 1.8;
    color: $COLOR_BLOG_BODY_TEXT;

    @media only screen and (max-width: 768px) {
      width: 85vw;
    }
    
    @for $i from 1 through 6 {
      h#{$i} {
        font-family: $FONT_BODY;
        line-height: 1.2;
        font-size: remFont($HEADING_BASE_FONT_SIZE + $HEADING_SCALE * (6 - $i));

        @media only screen and (max-width: 768px) {
          font-size: remFont($HEADING_BASE_FONT_SIZE_MOBILE + $HEADING_SCALE * (6 - $i));
        }
      }
    }
  }

  p {
    margin-bottom: remFont(24);
  }

  a {
    color: $COLOR_SCREEN_BACKGROUND;
    position: relative;
    font-weight: $WEIGHT_FONT_MID;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  code[class*=language-],
  pre[class*=language-]{
    max-width: 100%;
    font-size: remFont(12);
    margin: 3.5em auto;
    position: relative;
  }

  code:not([class*='language-']){
    padding: 2px 4px;
    border: 0;
    font-family: Menlo, Courier New, monospace;
    font-size: remFont(14);
    font-weight: 400;
    color: #222;
    border-radius: 2px;
    border: 1px solid #e3e3e3;
    background: #f4f4f4;
  }
}