
.now-playing {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

  &__track-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;

    .track-about {
      display: block;
      position: relative;
      font-size: remFont(24);
      margin-bottom: remfont(20);

      @media only screen and (max-width: 768px) {
        font-size: remFont(16);
      }
    }

    .track-name {
      font-size: remFont(28);
      display: block;

      @media only screen and (max-width: 768px) {
        font-size: remFont(16);
      }
    }
  }

  &__album-cover {
    margin: 0 0 0 0;

    img {
      image-rendering: pixelated;
      margin-right: 1.5em;
      width: 90px;
      height: 90px;

      @media only screen and (max-width: 768px) {
        margin-right: 1em;
        width: 45px;
        height: 45px;
      }
    }
  }
}