.vcr-main-content {
  $BASE_FONT_SIZE: 20;
  $HEADING_SCALE: 4;

  @for $ind from 1 to 6 {
    h#{$ind} {
      font-size: remFont($BASE_FONT_SIZE + $HEADING_SCALE * (6 - $ind));
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }
}