
.tv-screen {
  width:  80vw;
  height: calc(100vh - 16px);
  padding: 5vw;
  background-color: $COLOR_SCREEN_BACKGROUND;
  font-family: 'VCR OSD Mono';
  text-transform: uppercase;
  position: relative;
  background-color: #000;
  will-change: transform;
  animation: turn-on 4s linear;
  line-height: 1.45;
  overflow: scroll;

  a {
    @include highlight;
  }

  * {
    &:focus {
      @include highlight;
    }
  }

  &__init {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    color: #00be00;
    filter: blur(0.4px); 
    animation: glitch 0.1s infinite linear; 
    text-shadow: 0px 0px 3px #333333;
    visibility: hidden;
    pointer-events: none;
    animation: channel 6s linear;
    animation-fill-mode: forwards;
    pointer-events: none;
    font-size: remFont(42);
  }

  &__white-text {
    filter: blur(0.4px); 
    animation: glitch 0.1s infinite linear;
    text-shadow: 0px 0px 3px #333333;
    font-kerning: normal;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 2px;
    font-weight: bold;
  }

  &__intro-heading {
    font-size: remFont(42);
  }

  &__now-playing {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  &__track-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .track-about {
      display: block;
      position: relative;
      font-size: remFont(30);
      margin-bottom: remfont(20);
    }

    .track-name {
      font-size: remFont(36);
      display: block;
    }
  }

  &__album-cover {
    margin: 0 0;

    img {
      image-rendering: pixelated;
      margin-right: remFont(24);
      width: 120px;
      height: 120px;
    }
  }

  .container {
    animation: glitch-jump 3s infinite linear;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
}