.tv-screen {
  width:  80vw;
  height: calc(100vh - 16px);
  background-color: var(--album-bg-colour);
  font-family: 'VCR OSD Mono';
  text-transform: uppercase;
  position: relative;
  will-change: transform;
  animation: turn-on 2.25s linear;
  line-height: 1.45;
  overflow: hidden;
  display: flex;
  font-size: remFont(20);
  color: var(--album-text-colour);

  @media only screen and (max-width: 768px) {
    font-size: remFont(16);
    height: 100%;
    margin: 0 auto;
    width: 95%;
  }

  a {
    color: inherit;
    font-size: inherit;
    @include highlight;
  }

  * {
    &:focus {
      @include highlight;
    }
  }

  p {
    margin: 0 0 1.4em 0;
    font-size: remFont(24);
  }

  &__init {
    position: absolute;
    top: 5vh;
    left: 5vh;
    bottom: 0;
    right: 0;
    z-index: 1;
    color: #00be00;
    filter: blur(0.4px); 
    animation: glitch 0.1s infinite linear; 
    text-shadow: 0px 0px 3px #333333;
    visibility: hidden;
    pointer-events: none;
    animation: channel 6s linear;
    animation-fill-mode: forwards;
    pointer-events: none;
    font-size: remFont(42);

    @media only screen and (max-width: 768px) {
      font-size: remFont(18);
      top: 3vh;
      left: 3vh;
    }
  }

  p, span, a, time,
  h1, h2, h3, h4, h5, h6, 
  ul {
    filter: blur(0.4px); 
    text-shadow: 0px 0px 3px #333333;
    font-kerning: normal;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 2px;
    font-weight: bold;
  }

  *::selection {
    background-color: $COLOR_SCREEN_LINK_HIGHLIGHT;
    color: $COLOR_WHITE;
  }

  &__intro-heading {
    font-size: remFont(42);
    margin-top: 0;
    text-align: center;

    @media only screen and (max-width: 768px) {
      font-size: remFont(20);
    }

    a {
      display: block;
      text-decoration: none;
    }
  }

  &__main {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    margin-bottom: remFont(20);
    overflow: hidden;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      margin-bottom: 3em;
    }

    h1 {
      font-size: remFont(36);

      @media only screen and (max-width: 768px) {
        font-size: remFont(22);
      }
    }


    h2 {
      font-size: remFont(30);

      @media only screen and (max-width: 768px) {
        font-size: remFont(20);
      }
    }

    h3 {
      font-size: remFont(28);

      @media only screen and (max-width: 768px) {
        font-size: remFont(18);
      }
    }

    ul, li, a {
      // animation: glitch 0.1s infinite linear
    }

    a {
      animation: glitch 0.1s infinite linear;

      &:hover {
        text-decoration: none;
      }
    }

    p {
      @media only screen and (max-width: 768px) {
        font-size: remFont(16);
      }
    }
  }

  &__card-list {
    margin: 0;
    padding: 0;

    li {
      margin-top: 0;
      margin-bottom: 3.5vh;
    }

    h2 {
      font-size: remFont(24);
      margin: 0;

      @media only screen and (max-width: 768px) {
        font-size: remFont(16);
      }
    }
  }
  
  /*-------------
  Navigation Side bar
  --------------*/

  &__navigation {
    $parent: &;
    width: 30%;

    @media only screen and (max-width: 768px) {
      width: 100%;
      margin-bottom: 3em;
    }

    #{$parent}__list {
      list-style: none;
      padding-left: 0;
      margin: 0;

      @media only screen and (max-width: 768px) {
        column-count: 2;
      }
    }

    .nav-item {
      margin: 0.25em 0;

      a {
        display: block;
        font-size: remFont(24);
        text-decoration: none;

        @media only screen and (max-width: 768px) {
          font-size: remFont(16);
        }
      }
    }
  }

  &__content {
    width: 65%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    margin: 0;
    padding: 0 0 5vh 0;

    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }

    @media only screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .container {
    animation: glitch-jump 3s infinite linear;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 3vw;
  }
}


.vcr {
  &__glitch-text {
    animation: glitch 0.1s infinite linear;
  }
}