/**
 * Blog / Style: Article
 * -----------------------------------------------------------------------------
 */
.article {
  --color-text: #121212;
  --font-article: 'Inter', sans-serif;
  --font-size-base: 16px;
  --weight-light: 300;
  --weight-light: 800;
  --weight-mid: 600;

  background-color: var(--color-white);
  color: var(--color-text);
  font-family: var(--font-article);
  padding: var(--spacing-xl) var(--spacing-xl);
  text-transform: none;
  margin-bottom: var(--spacing-2xl);

  &__header {
    margin-bottom: var(--spacing-xl);
    margin-left: auto;
    max-width: 768px;
    margin-right: auto;
  }

  &__title {
    margin-bottom: 0;
  }

  &__date {
    color: var(--color-light-grey);
    display: block;
    font-size: var(--font-size-smaller);
    margin-bottom: var(--spacing-xl);
  }

  &__featured-image {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
  }

  &__body {
    font-size: var(--font-size-smaller);
    line-height: 1.8;
    margin-left: auto;
    margin-right: auto;
    max-width: 620px;
    padding-left: 0;
    padding-right: 0;
  }

  a {
    color: var(--color-link);
    position: relative;
    font-weight: var(--weight-mid);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  blockquote {
    background-color: var(--color-lighter-grey);
    margin: var(--spacing-l) 0;
    padding: var(--spacing-m);
    border-radius: 5px;

    p {
      margin: 0;
    }
  }

  img {
    height: auto;
    margin: 0 auto;
    max-width: 100%;
  }

  p,
  ul {
    margin-bottom: var(--spacing-l);
  }

  code[class*='language-'],
  pre[class*='language-'] {
    font-size: var(--font-size-extra-small);
    margin: 3.5em auto;
    max-width: 100%;
    position: relative;
    text-shadow: none;
  }

  code:not([class*='language-']) {
    padding: 2px 4px;
    border: 0;
    font-family: Menlo, Courier New, monospace;
    font-size: var(--font-size-smaller);
    font-weight: 400;
    color: #222;
    border-radius: 2px;
    border: 1px solid #e3e3e3;
    background: #f4f4f4;
  }

  @for $i from 1 through 6 {
    h#{$i} {
      $size_heading_base: 18px;
      $heading_scale: 3;

      font-family: var(--font-article);
      font-size: $size_heading_base + $heading_scale * (6 - $i);
      font-weight: var(--weight-mid);
      line-height: 1.2;

      @media only screen and (min-width: 1024px) {
        font-size: $size_heading_base + $heading_scale * (6 - $i);
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    &__body {
      font-size: var(--font-size-base);
      padding-left: var(--spacing-xl);
      padding-right: var(--spacing-xl);
    }
  }
}
